<ul>
  <li><img src="https://img.icons8.com/emoji/48/000000/man-lifting-weights.png"/></li>
  <li><img src="https://img.icons8.com/emoji/48/000000/woman-student.png"/></li>
  <li><img src="https://img.icons8.com/color/48/000000/monster-face.png"/></li>
  <li><img src="https://img.icons8.com/emoji/48/000000/men-with-bunny-ears.png"/></li>
  <li><img src="https://img.icons8.com/emoji/48/000000/hamburger-emoji.png"/></li>
  <li><img src="https://img.icons8.com/emoji/48/000000/clown-face.png"/></li>
</ul>