<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Id teacher</th>
      <th scope="col">Doings</th>
    </tr>
  </thead>
<tbody>
<tr *ngFor="let group of groups; let i=index">
  <td>{{i+1}}</td>
<td>{{group.name}}</td>
<td><img height="50px" width="50px" src= {{group.image}}></td>
<td>{{group.idTeacher}}</td>
<td><button type="button" (click)="deleteComponent(group.id)" class="btn btn-outline-dark">Delete</button></td>

</tr>
</tbody>
</table> 