<div class="form">
  <form #addEventForm="ngForm" (ngSubmit)="onSubmit(addEventForm)">
    <input [(ngModel)]="model.name" id="txtTitle" name="txtTitle" type="text" placeholder="name" />
    <input [(ngModel)]="model.image" id="txtImage" name="txtImage" placeholder="image" />
    <input [(ngModel)]="model.age" id="txtImage" name="txtImage" placeholder="idTeacher" />
    <input [(ngModel)]="model.description" id="txtImage" name="txtImage" placeholder="idTeacher" />
    <input [(ngModel)]="model.rates" id="txtImage" name="txtImage" placeholder="idTeacher" />

    <button>create</button>
  </form>
</div>